table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #000000;
  padding: 3px 2px;
}

table tbody td {
  font-size: 13px;
}

table thead {
  background: #0B6FA4;
}

table thead th {
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

.selected {
  background-color: bisque;
}

.fancy--holder.fancy--radio input:disabled ~ .fancy--input {
    opacity: 1;
    cursor: not-allowed;
}

.fancy--holder.fancy--radio .fancy--input {
  background: none;
}
