body {
  font-family: Lato;
}

input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    background: green;
    width: 1rem;
    height: 1rem;
}

input[type="checkbox"]:checked {
    background: red;
}
